/* ====================================================== */
/* Top Level */
/* ====================================================== */

.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

ul.menubar > li {
    display: inline;
    float: left;
    padding: 0;
}

ul.menubar > li > a:link, ul.menubar > li > a:visited {
    display: block;
    width: 120px;
    color: #000000;
    background-color: #AAAAAA;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}

ul.menubar > li > a:hover, ul.menubar > li > a:active {
    background-color: #CCCCCC;
}

/* ====================================================== */
/* Second Level */
/* ====================================================== */

ul.menubar > li > ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

ul.menubar > li:hover > ul {
    visibility: visible;
}

ul.menubar > li > ul > li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul.menubar > li > ul > li a:link,a:visited {
    display: block;
    width: 120px;
    color: #000000;
    background-color: #EEEEEE;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}

ul.menubar > li > ul > li a:hover,a:active {
    background-color: #80AA80;
}


