/* ====================================================== */
/* Page Layout */
/* ====================================================== */

html,body { max-height:100% }

body {
    margin: 0px;
    padding: 0px;
    font-family: "helvetica";
    background: #cccccc;
}

#header {
    background: #d2f2f2;
    padding: 0.5em 1em 0.25em 1em;
    border-bottom: 1px solid black;
}

#menu {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
}

#container {
    margin: 2em auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
    border: 1px solid black;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0 #000;
}

#content {
    padding: 0.5em;
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 11pt;
}

#display {
    overflow: scroll;
    max-height: 400px;
}

#toolbar {
    padding: 1em;
}

/* ====================================================== */
/* Display Tables (Generic) */
/* ====================================================== */

 table.data {
    width: 100%;
 }
 table.data th {
     background-color: #CCCCCC;
 }
 table.data th,td {
  border: 1px solid black;
  font-family: "Lucida Grande", "Trebuchet MS";
  text-align: center;
 } 

 table.data #odd {
  background-color: #FFFFD6;
 }

/* ====================================================== */
/* Display Tabs (Generic) */
/* ====================================================== */

div #tabs {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
}

/* ====================================================== */
/* Menu Bar: Top Level */
/* ====================================================== */

ul.menubar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    font-size: 10pt;
    z-index: 5;
} 

ul.menubar > li {
    display: inline;
    float: left;
    margin-left: 10px;
}

ul.menubar > li > a:link, ul.menubar > li > a:visited {
    display: block;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}

ul.menubar > li > a:hover, ul.menubar > li > a:active {
    background-color: #fff;
    color: #c00;
}

/* ====================================================== */
/* Menu Bar: Other Levels */
/* ====================================================== */

ul.menubar > li ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    color: #000000;
    visibility: hidden;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 2px 0 #000;
}

ul.menubar li:hover > ul {
    visibility: visible;
    display: block;
}

ul.menubar > li > ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul.menubar > li > ul li a:link,a:visited {
    display: block;
    min-width: 120px;
    color: #000000;
    background-color: #EEEEEE;
    padding: 5px 50px 5px 10px;
    text-align: left;
    text-decoration: none;
}

ul.menubar > li > ul li a:hover,a:active {
    background-color: #fff;
}
