<%inherit file="../base.html"/>

<%def name="head()">

<script type="text/JavaScript">
$(document).ready(function () {
  <!-- Populate submissions -->
  $.getJSON("/data/submissions?course=${COURSE}&assignment=${ASSIGNMENT}",
   function(result) { populateSubmissions("submissions",result); });
  <!-- Populate course configuration -->
  $.getJSON("/data/config?course=${COURSE}&assignment=${ASSIGNMENT}",
   function(result) { populateConfig("submissions",result); });
});

function populateSubmissions(table,data) {
   var element = document.getElementById(table);
   var counter = 1;
   $.each(data,function(key,value){
      var row=element.insertRow(-1);
       if (counter%2 == 1) { row.id="odd"; }
       else { row.id="even"; }
       counter++;
       i=0;
       $.each(value,function(k,v){
         row.insertCell(i++).innerHTML=v;
       });
       row.insertCell(i++).innerHTML="<input type=\"checkbox\" name=\"student\" value=\"brakejosh\">";
   });
}

function populateConfig(table,data) {
 var element = document.getElementById(table);
 var elementRow = element.rows.item(0);
 $.each(data.tasks,function(idx,value){
   elementRow.insertCell(idx+3).innerHTML="<a href=\"${ROOT_URL}/run/${COURSE}/${ASSIGNMENT}/" + value + "\">" + value + "</a>";
 });
}
</script>

<link href="${ROOT_URL}/css/assignview.css" rel="stylesheet" type="text/css">

</%def>

<%def name="body()">

<h2>/vol/submit/${COURSE}/${ASSIGNMENT}</h2>

<center>
<table id="actions">
</table>

<table id="submissions">
  <tr>
    <th>Student ID</th>
    <th>Login</th>
    <th>Name</th>
  </tr>
</table>
</center>

</%def>

